.input-control{
  max-width: 400px;
  width: 100%;
  border: 2.2px solid #fff;
  border-radius: 7px;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
#date {
  width: 100%;
  margin-top: 7px;
}
.opt{
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  color: white;
}
.opt label{
  text-decoration: underline;
}
.opt input{
  margin-right: 10px;
}
.input{
    border: none;
    width: 100%;
    height: 100%;
    font-weight: 600;
    letter-spacing: 5px;
    color: #fff;
    background-color: transparent;
}
.input::placeholder{
  color: white;
}
.input:focus{
    outline: none;
}
@media screen and (max-width: 500px){
  .opt{
    width: 98%;
  }
  .input-control{
    width: 100%;
  }
}