.dashboard-container {
  width: 100%;
  background-color: #30e6dd1b;
  min-height: calc(100vh - 60px);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
}
.dash-left {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 320px;
}
.quick-stat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 98%;
  padding: 10px;
  border: 2px solid #087a75;
  border-radius: 7px;
}
.head-links {
  display: flex;
  align-items: center;
}
.quick-stat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.quick-stat-item {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-color: #087a75;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.quick-stat-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quick-stat-item .number {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 600;
}
.quick-stat-item .desc {
  font-size: 11px;
}
.nav-center{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #087a75;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: content-box;
  width: 90%;
}
input::placeholder{
  color: #087a75;
}
.search-icon{
  color: #087a75;
  cursor: pointer;
}
.search-input{
  color: #087a75;
  height: 100%;
  width: 80%;
  background-color: transparent;
  border: none;
  letter-spacing: 3px;
  font-weight: 600;
}
.search-icons{
  display: flex;
  align-items: center;
}
.search-input:focus{
  outline: none;
}
.expired{
  color: red !important;
}
.active{
  color: #087a75;
}
.out-stock{
  color: #868788 !important;
}
.item-name{
  color: #087a75;
  font-weight: 500;
}
.items-container {
  width: 98%;
  height: 60vh;
  border: 2px solid #087a75;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items-top,
.sales-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.dash-right {
  flex: 2;
  width: 100%;
}
.chart,
.dash-right-item-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #087a75;
  border-radius: 7px;
  height: fit-content !important;
  padding: 20px;
}
.item-info-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
.item-info-top .btn{
display: flex;
gap: 10px;
align-items: center;
color: #087a75;
border: 2px solid #087a75;
background-color: transparent;
font-size: 12px;
}
.item-info-top .btn .icon-link{
  font-size: 14px;
}
.item-info-top .btn:hover{
  background: #fff;
}
.item-info-content {
  color: #087a75;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}
.item-info-left, .item-info-right{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.key{
  color: #555;
}
.value {
  font-weight: 600;
  margin-left: 10px;
}
.quick-stat-header-left, .timer{
  display: flex;
  align-items: center;
}
@media screen and (max-width: 770px) {
  .quick-stat-item {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 500px) {
  .dashboard-container {
    flex-direction: column;
    padding: 10px;
  }
  .quick-stat {
    flex-wrap: wrap;
  }
  .quick-stat-item {
    height: 80px;
    width: 80px;
    margin: 5px;
  }
  .dash-left {
    width: 98vw;
    margin: auto;
  }
  .dash-right {
    flex: 1;
  }
  .item-info-content{
    flex-direction: column;
    justify-content: flex-start;
  }
}
