.login-container {
  height: 100vh;
  background: linear-gradient(
      rgba(48, 230, 221, 0.404) 100%,
      rgba(48, 230, 221, 0.404) 100%
    ),
    url("../../bg.jpg");
  background-size: 100% 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.instead {
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
  text-decoration: underline;
}
.login-greetings {
  font-weight: 300;
  color: #087a75;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 18px;
}
.login-btn {
  width: 100%;
  max-width: 400px;
  background: #087a75;
  color: white;
}
@media screen and (max-width: 770px) {
  .login-container {
    background-size: cover;
  }
}
